html, body {
    max-width: 100%;
    min-width: 980px;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #a9e1f738;
    text-align: left;
}
.btn-outline-success {
    color: #fff;
    background-color: transparent;
    background-image: none;
    border-color: #fff;
}
.btn-outline-success:hover {
    color: #fff;
    background-color: #44c6da; /*#50d5bc;*/
    border-color: #0d826663;
}
.btn-outline-success {
    color: #fff;
    background-color: #0d826663;
    background-image: none;
    border-color: #fff;
}
.btn-primary {
    margin-left: 53px;
}
.nav-link :hover a{
 color:  black;
}
.imagem-principal{
    width: 1436px;
    height: 327px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
   /* opacity: 0.5;*/
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-left: 34px;
    margin-right: -24px;
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.footer{
    background-color: #077283 !important;
    font-size: 18px;
  /*  margin-left: -6px;*/
    width: 100%;
    height: 300px;
    padding: 30px;  
    color: rgba(255,255,255,.5); 
       
    }
    #contato{
        float: left;
        margin-left: 10%;
            }
    #contato h3{
        color: #fbffff;
        text-decoration: underline;
        margin-bottom: 12px;
    }
    .link{
        margin-right: 50%;
        float: right;
        
    }
    .link h3{
        color: #fbffff;
        text-decoration: underline;
    }
    .link a{
    
     margin-top: 0;
     margin-bottom: 1rem;
     margin-right: 71px;
     line-height: 15px;
     color: rgba(255,255,255,.5)
    }
    .outros-serviços{
        float: right;
        margin-right: -149px;
        margin-top: -257px;

    }
    .redes-sociais{
        float: right;
        margin-top: -9px;
        margin-right: -768px;      
    }
    
       
    .navbar {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: .5rem 1rem;
        height: 80px;
        }
        .navbar-nav {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
           /* margin-left: 37px;*/
        }
        
        .card {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: transparent;
            background-clip: border-box;
            border: 1px solid rgba(0,0,0,.125);
            border-radius: .25rem;
            margin-left: 34px;
            margin-right: -24px;
            margin-top: 5px;
            margin-bottom: 5px;
            float: left;
           /* opacity: 0.5;*/
        }
        .card {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #ffffff21; /*#fff;*/
            background-clip: border-box;
            border: 1px solid rgba(0, 0, 0, 0);/* 1px solid rgba(0,0,0,.125);*/
            border-radius: .25rem;
        }
        .zoom{
            overflow: hidden;
        }
        .zoom img {
            max-width: 120%;
            -moz-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }
        
        .zoom:hover img {
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
        
        .card-title {
            position: absolute;
            left: 5%;
            right: 5%;
            bottom: 350px;
            z-index: 5;
            padding-top: 10px;
            padding-bottom: 13px;
           /* color: #ffffff;*/
            text-align: center;
            font-weight: 400;
          /*  text-shadow: 0 1px 3px rgba(0,0,0,0.6);*/
        }
        /*.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: #17a2b8;
}

a  active{
   background-color: #17a2b8;

}

Tela Login*/
.login{
   
    margin: 5%;
    font-size: 20px;
    line-height: 33px;
}

.tela-login {
	float: left;
	background-color: #0aafc9 !important;
	color: white;
	border-radius: 5px;
	width: 33%;
	height: 350px;
    text-align: center;
    margin-left: 132px;
}

.tela-cadastro{
    background-color: white;
    margin-left: 42%;
    border-radius: 5px;
    width: 50%;
    height: 350px;
    text-align: center;
    }
    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        float: left;
        margin-left: 5%;
    }
    .form-control mr-sm-2{
        margin-left: 27px; height: 44px; width: 237px; text-align: center; font-size: 16px; 
    }
    .btn btn-outline-success my-2 my-sm-0{
        margin-left: -70%;
    }
    .imagem-banner{
        width: 88%;
    height: 400px;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 1%;
    }
    .footer {
     
        background-color: #077283 !important;
      /*  width:100%;
        position: fixed;
        height: 35%;
        bottom: 0;*/
        position: relative;
        margin-top: -150px; /* negative value of footer height */
        height: 280px;
        clear:both;
        padding-top:20px;
            
    }
    .rodape-2{
        width: 100%;
       /* float: left;
        margin-left:  5%;
        background-color: #17a2b8 !important;*/
        position: relative;
        height: 50px;
        clear:both;
        padding-top:20px;
        color: #077283;
        text-align: center;
    }
    .redes-sociais {
        float: right;
        margin-top: -265px;
        margin-right: -157%;
    }